.maincontainer_div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(91, 204, 100);
}



/* output */
.output {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.output p {
  color: #fff;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}
.output button {
  padding: 0.5rem 1rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background: blue;
  border: none;
}
.output button.copied {
  background: #fff;
  color: rgb(255, 255, 255);
}
.noData {
  color: rgb(255, 255, 255);
  font-size: 1rem;
}










